@page "/Mosaics"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Mosaic.FrontEnd.Data
@attribute [Authorize]

<PageTitle>Mosaic Manager</PageTitle>

<h1>All Mosaics</h1>

<div><NavLink href="mosaics/create">Create</NavLink></div>
@if (mosaics is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Grid</th>
                <th>Tiles Assigned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mosaic in mosaics)
            {
                <tr>
                    <td><a href="mosaics/@mosaic.Name">@mosaic.Name</a></td>
                    <td>@mosaic.Status</td>
                    <td>@mosaic.HorizontalTileCount x @mosaic.VerticalTileCount</td>
                    <td>@mosaic.TileDetails?.Count(x=>x is not null)</td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    page @this.Page
    @if (this.Page > 1)
    {
        <text>|</text> <a href="mosaics?page=@(this.Page-1)" @onclick="OnClickPrev">Prev</a>
    }

    @if (this.mosaics?.Length == PageSize)
    {
        <text>|</text> <a href="mosaics?page=@(this.Page+1)" @onclick="OnClickNext">Next</a>
    }
</div>

<ErrorDisplay ErrorMessage="@errorMessage"/>


