@page "/tiles/import"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using Mosaic.FrontEnd.Data
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inject ILogger<ImportTiles> Logger
@inject MosaicService mosaicService
@inject IConfiguration config;

<PageTitle>Tile Manager</PageTitle>
@if (!string.IsNullOrEmpty(progressMessage))
{
    <div>@progressMessage</div>
}
else
{
    <h1>Flickr</h1>
    <div>Import images from today's "interesting" feed on Flickr to be used as tiles for mosaics. Only images with specific Creative Commons licenses will be imported</div>
    <div>
        Import Status

        @if (status is not null)
        {
            <div>Last import attempted at @status.FlickrLastImportDate (@status.FlickrLastImportCount imported)  </div>
            <div>@status.FlickrTotalImportCount total imported so far</div>
        }
        else
        {
            <div>unknown</div>
        }
        <button @onclick="RefreshStatusClicked">Refresh</button>
    </div>

    <EditForm Model="@options" OnSubmit="@StartImportingFlickr">
        <InputText id="key" @bind-Value="options.FlickrApiKey" />
        <button type="submit">Start Importing</button>
        <button @onclick=StopImportingClicked>Stop Importing</button>
    </EditForm>


}


@code {
    string? progressMessage;
    string? statusMessage;

    ImportOptions options { get; set; } = new ImportOptions();

    MosaicService.ImportStatus? status = null;

    protected override async Task OnInitializedAsync()
    {
        await RefreshStatusClicked();
    }
    private async Task StartImportingFlickr()
    {
        progressMessage = "starting the import process";
        await mosaicService.StartFlickrImport(options);
        progressMessage = null;
    }

    private async Task RefreshStatusClicked()
    {
        status = null;
        statusMessage = "refreshing status";
        status = await mosaicService.GetImportStatus();
        statusMessage = null;
    }

    private async Task StopImportingClicked()
    {
        progressMessage = "stopping importing from Flickr";
        await mosaicService.StopFlickrImport();
        progressMessage = null;
    }
}
